<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/abhayverma/IdeaProjects/SeleniumLearning">
        <classes>
            <class name="TestNG.Day1"/>
            <class name="TestNG.Day2"/>
            <class name="TestNG.Day4"/>
        </classes>
    </test>
    <test name="New Test Suite">
        <classes>
            <class name="TestNG.Day3">
                <methods>
                    <exclude name="HomeLoan.*"/> <!--It will exlude only mention Test Case from all Test Cases-->
                    <include name="PersonalLoan"/> <!--It will run only mention Test Case-->
                </methods>
            </class>

        </classes>

    </test>



</suite>